.wrapper
	.descr
		.descr-item Zeta Signum
		.descr-item merges human knowledge
		.descr-item and&nbsp;intuition with
		.descr-item thinking machines
		.descr-item.gray forging a&nbsp;future
		.descr-item.gray of&nbsp;intellectual synergy
	#logo
		//- img(src="img/logo.svg")
	.footer
		.footer-contact
			.footer-item Contact
			.footer-item: a(href="mailto:hello@zetasignum.com") hello@zetasignum.com
	.back
		img.preload(src="img/back-start.jpg")
		video(autoplay muted loop)
			source(src="/video/back.mp4" type="video/mp4")